*{
	margin: 0;
	padding: 0;
};

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	color: #525252;
	/*background-image: url('back.jpg');*/
}

a {
	text-decoration: none;
	color: #cb3837;
}

.container {
	text-align: center;
	width: 100%;
	padding: 0;
	margin: 0 30px;
	top: 10px;
	position: fixed;
	min-width: 300px;
	max-width: 1140px !important;
}

#switchModeButton{
	position: fixed;
	top: 15px;
	right: 15px;
	z-index: 100;
	margin: 0;
}

.ytguiTitle{
	height: 40px;
	width: 100%;
}

textarea {
	resize: none;
}

.scan-button-container{
	width: 100%;
	height: 0px;
}

#scanButton{
	min-width: 70px;
    position: relative;
    top: -40px;
    right: 6px;
    float: right;
}

.all-button-container{
	min-width: 70px;
    position: relative;
    top: -5px;
    left: 6px;
    float: right;
}

#allMp3Button{

}

#allMp4Button{
	border-right: solid 3px #000000;
}

.down-list-container{
	overflow-y: auto;
	padding-right: 10px;
	height: 500px;
	margin-top: 10px;
}

*::-webkit-scrollbar-track{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #464646;
}

*::-webkit-scrollbar{
	width: 12px;
	background-color: rgba(0,0,0,0);
}

*::-webkit-scrollbar-thumb{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--primary);
}

#downList{
	width: 100%;
}

td.td-song-name{
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 50px;
	min-width: 50px;
	text-align: left;
}

td.td-progress-bar{

}

td.td-button-right{
	width: 120px;
}

td.td-status{
	width: 150px;
}
.progress-bar-download{
	background-color: #7d9a1f !important;
}
.download-field{
	height: 50px;
}

@keyframes loadersvg {
	0%,
	25% {
		transform: rotate(0deg);
	}
	45%,
	100% {
		transform: rotate(-180deg);
	}
}
@keyframes loaderdot {
	0% {
		transform: rotate(0deg);
	}
	20%,
	50% {
		transform: rotate(180deg);
	}
	70%,
	100% {
		transform: rotate(360deg);
	}
}

.loader{
	width: 40px;
}

.loader svg.open{
	width: 38px;
}

.loader svg.close{
	width: 0px;
}

.loader svg {
	overflow: visible;
	transform-origin: center center;
	animation: 1.5s linear loadersvg infinite;
}

.loader svg circle:nth-of-type(2),
.loader svg circle:nth-of-type(3) {
	transform-origin: 26.5px center;
	animation: 1.5s linear loaderdot infinite;
}

.custom-file-label{
	color: #000000 !important;
	text-align: left !important;
	left: 150px !important;
	top: 3px !important;
	right: 5px !important;
}

.custom-file-label::after{
	top: -1px !important;
	right: -5px !important;
	height: 35px !important;
}

.custom-file{
	padding-top: 10px !important;
	text-align: left !important;
}

.dropdown-menu{
	overflow-y: auto;
	height: 200px;
}
.lb-dropdown-filesize{
	float: right;
}

.btn-group{
	margin-left: 0 !important;
}

input:focus, input:active,
select:focus, select:active,
textarea:focus, textarea:active,
button:focus, button:active {
	outline: none !important;
	box-shadow: none !important;
}